#active {
  color:red;
}
.saw {
  color:gray;
}
h1 {
  font-size:45px;
  font-weight:bolder;
  text-align:center;
  border-bottom:1px solid gray;
  margin:0;
  padding:20px;
}
ol {
  width:70px;
  margin:0;
  padding:20px;
}
body {
  margin:0;
}
#grid {
  display:grid;
  grid-template-columns: 200px 1fr;
}
#grid #left {
    padding-left:30px;
}
#grid #article {
  border-left:1px solid gray;
  margin-left:30px;
  padding-left:25px;
  padding-bottom:300px;
}
